<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Animal Crossing Generator</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>  
{{{body}}}
</body>
</html>