<script src="/assets/app.js"></script>
<form id="choose-villager-form" onsubmit="goToVillager" action="\Villager">
    <div><label>If you know a villager's ID, type it here: </label><input type="number" name="villagerId" id="villager-id"></div></div>
    <button type="submit">Go to villager</button>
</form>
<form id="choose-villager-form" onsubmit="goToVillager" action="\Villager">
    <div>If not, you can</div>
    <button type="submit">Go to a random villager</button>
</form>
{{/if}}